<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<style>
    .menu {
        margin-left: 1000px;
    }

    .cabeçalho {
        border-radius: 1000px;
    }

    .adm {
        color: rgb(255, 255, 255);
        left: 100px;

    }


    body {
        background-color: rgb(255, 255, 255);
        margin-left: 50px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botão {
        background-color: rgb(118, 212, 252);
        height: 50px;
        border-radius: 200px;
        width: 180px;
        text-align: center;
        text-decoration: none;
        margin-left: -970px;
        margin-top: 430px;
        border-color: rgb(118, 212, 252);
    }

    .container {
        width: 80%;
        height: 80vh;
        display: flex;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    }

    .form-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffffd7;
        padding: 1rem;
    }

    .form-image img {
        width: 31rem;
    }

    .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 3rem;
    }

    .form-header {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
    }

    .login-button {
        display: flex;
        align-items: center;
    }

    .login-button button {
        border: none;
        background-color: rgb(118, 212, 252);
        ;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-button button:hover {
        background-color: rgb(118, 212, 252);
        ;
    }

    .login-button button a {
        text-decoration: none;
        font-weight: 500;
        color: #fff;
    }

    .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: rgb(118, 212, 252);
        ;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }

    .input-box input {
        margin: 0.6rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
    }

    .input-box input:hover {
        background-color: #eeeeee75;
    }

    .input-box input:focus-visible {
        outline: 1px solid #6c63ff;
    }

    .input-box label,
    .gender-title h6 {
        font-size: 0.75rem;
        font-weight: 600;
        color: #000000c0;
    }

    .input-box input::placeholder {
        color: #000000be;
    }

    .gender-group {
        display: flex;
        justify-content: space-between;
        margin-top: 0.62rem;
        padding: 0 .5rem;
    }

    .gender-input {
        display: flex;
        align-items: center;
    }

    .gender-input input {
        margin-right: 0.35rem;
    }

    .gender-input label {
        font-size: 0.81rem;
        font-weight: 600;
        color: #000000c0;
    }

    .continue-button {
        display: flex;
        text-align: center;
        margin-top: 1.6rem;
        margin-right: -0.08rem;
    }

    .continue-button button {
        width: 13rem;
        height: 3rem;
        border: none;
        background-color: rgb(68, 151, 190);
        ;
        padding: 0.70rem;
        border-radius: 6px;
        cursor: pointer;
    }

    .continue-button button:hover {
        background-color: rgb(118, 212, 252);
        ;
    }

    .continue-button button a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }

    @media screen and (max-width: 1330px) {
        .form-image {
            display: none;
        }

        .container {
            width: 50%;
        }

        .form {
            width: 100%;
        }
    }

    @media screen and (max-width: 1064px) {
        .container {
            width: 90%;
            height: auto;
        }

        .input-group {
            flex-direction: column;
            z-index: 5;
            padding-right: 5rem;
            max-height: 10rem;
            overflow-y: scroll;
            flex-wrap: nowrap;
        }

        .gender-inputs {
            margin-top: 2rem;
        }

        .gender-group {
            flex-direction: column;
        }

        .gender-title h6 {
            margin: 0;
        }

        .gender-input {
            margin-top: 0.5rem;
        }
    }

    footer {
        background-color: rgb(118, 212, 252);
        color: #fff;
        padding: 5px;
        text-align: center;
    }

    /* Estilizando os links no footer */
    footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

    /* Estilizando os links no hover (quando o mouse passa por cima) */
    footer a:hover {
        text-decoration: underline;
    }

    .menu {
        margin-right: 100px;
    }
</style>

<body>

    <div>
        <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <!--Buscando imagem no github-->
                    <img src="https://github.com/bgaby7/medicalg/blob/main/imgcadastro/user.png?raw=true"
                        class="rounded-circle" alt="MEDICAL GROUP" style="width: 35px;" class="cabeçalho">
                    <a class="navbar-brand" href="/">
                        <h4 style="color: #fff;"> MEDICAL GROUP HOSPITAL </h4>
                    </a>
                </div>
            </div>
            <div class="menu">
                <div class="dropdown" bg-info>
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                        Menu
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="consultas">Consultas</a></li>
                        <li><a class="dropdown-item" href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    </nav>


    <div class="container">
        <div class="form-image">
            <img src="https://raw.githubusercontent.com/bgaby7/medicalg/7e43ba61adbaed36b7c8c3cd1a87fbbf5f9f8cfb/imgcadastro/imgcadastro.svg"
                alt="">
        </div>
        <div class="form">

            <div class="form-header">
                <div class="title">
                    <h1>Cadastro:</h1>
                </div>
                <!--para adicionar no banco de dados os users-->
                <form action="/add" method="POST">
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="nome">Nome</label>
                    <input type="text" name="name" placeholder="Digite o nome" required>
                </div>

                <div class="input-box">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder="Digite o email" required>
                </div>

                <div class="input-box">
                    <label for="CPF">CPF</label>
                    <input type="text" name="CPF" placeholder="XXX. XXX. XXX-YY" required>
                </div>

                <div class="input-box">
                    <label for="celular">Celular</label>
                    <input type="text" name="celular" placeholder="(xx) xxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" placeholder="Digite sua senha" required>
                </div>
                <div class="continue-button">
                    <button type="submit">Cadastrar</button>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
