<!DOCTYPE html>
<!--Qualquer individuo está proibido de acessar as páginas (médico, paciente e adm) se não estiver realizado
anteriormente o login-->
<html>
    <p>Faça login para acessar esta página. <a href="/login">Login</p>
</html>
