<!DOCTYPE html>
<!--Quando o usuario realizar o cadastro, se caso foi enviado para o banco de dados. Aparecer치 est치 pagina com a mensagem-->
<html>
    <p>Usu치rio cadastrado com sucesso!!! Retorne a p치gina de <a href="/cadastro">cadastro</p>
</html>
